@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.background-image 
{
    background-image: url('https://global-img.gamergen.com/resident-evil-7-biohazard-image-screenshot-16_0900847527.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
}